.tab {



  overflow: hidden;



  border: 1px solid #ccc;



  background-color: #f1f1f1;



}







/* Style the buttons that are used to open the tab content */



.tab button {



  background-color: inherit;



  float: left;



  border: none;



  outline: none;



  cursor: pointer;



  padding: 14px 16px;



  transition: 0.3s;

}



.tab button:hover {



  background-color: #ddd;



}

.tab button.active {



  background-color: #ccc;



}



.tabcontent {

  background-color: #BDDBDC;

  display: none;



  padding: 6px 12px;



  border: 1px solid #ccc;



  border-top: none;



}



.tabcontent2 {

  background-color: #BDDBDC;

  display: none;



  padding: 6px 12px;



  border: 1px solid #ccc;



  border-top: none;



}







.Kansas3 {



  height: 280px;



  width: 475px;



}







.title {



  text-align: center;



  background: grey;



  color: white;



  font-size: 35px;



  padding: 10px;



  border-radius: 25px;



  border-color:







}







.app {



  background-color: #BDDBDC;
  





  text-align: center;



}







.tabcontent {



  font-size: 25px;

  height: 600px;





}







.learningFlex {



  display: flex;



  justify-content: space-between;



}



.group:after {

  content: "";

  display: table;

  clear: both;

}



.firstTabText {

  float: left;

  width: 50%;

}



.Kansas3 {

  float: left;

  width: 50%;

  padding-top: 15px;



}



.group:after {

  content: "";

  display: table;

  clear: both;

}



.secondTabText {

  float: left;

  width: 50%;

}

.flat {

  float: left;

  width: 50%
}

.secondTabText2 {

  float: bottom;

}

